<nav>
    <div class="nav-wrapper red">
        <a href="#!" class="brand-logo">WorkTaskNote</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a class="modal-trigger" href="#setting_panel"><i class="material-icons">&#xE8B8;</i></a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a class="modal-trigger" href="#setting_panel">Settings<i class="material-icons">&#xE8B8;</i></a></li>
        </ul>
    </div>
</nav>
